assignment-automation-workflow.json
{
  "name": "Assignment Automation",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Assignment_",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        -80
      ],
      "id": "b53ac039-b50f-45e3-a586-bd3f96d7cd7b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "t = items[0]['json']['text']\ncleaned = ' '.join(t.split()).strip()\nreturn [{ \"cleanedText\": cleaned[:150000] }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -80
      ],
      "id": "7aedf95a-fa59-494f-9857-084f94559fcb",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.cleanedText }}",
        "options": {
          "systemMessage": "You are a helpful assistant. you can more info got from Wikipedia, that tool attach here. also attach separate knowledge_base get from the knowledge that. i give the question in the assignment. your task is complete the assignment "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        -80
      ],
      "id": "a4afe0ae-73a2-4951-aa9f-515104d74a34",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        128
      ],
      "id": "c9305b16-e96b-4a1b-a08c-964a8ff5fe2c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "VjnUR5eUBxPCf2ri",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        336,
        80
      ],
      "id": "3630e6df-2e5d-4676-8396-be39be4f844e",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This part was written by an LLM. Now I want to humanize these parts. It should be written as a human, not an LLM model. When rewriting, follow these writing guidelines: – Don't blab. – Keep sentences clear. – Use everyday words that are easy to understand. – Pick common words over complex ones. Use technical terms only when needed. – Avoid words with 4+ syllables. If you must use them, keep surrounding text simple. – Write for a 8th grade reading level. – Skip overused business terms and jargon like: delve, digital age, cutting-edge, leverage, proactive, pivotal, seamless, fast-paced, game-changer, quest, realm, landscape, evolve, resilient, thrill, unravel, embark, world. – Make direct statements without hedging. – Connect ideas naturally without forced transitions. – Use standard punctuation. – Vary sentence structure and punctuation naturally. – Avoid using em dashes (—) or en dashes (–) unless necessary try to use commas, brackets or other punctuation marks instead. – Never use: indeed, furthermore, thus, moreover, notwithstanding, ostensibly, consequently, specifically, notably, alternatively.\n\n\"{{ $json.output }}\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        464,
        -80
      ],
      "id": "12e9ffcd-7dca-4dcb-9f41-f585ba7e5b45",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.text }}",
        "name": "=Assignment",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Uc84QvjWdZKfN4TrjDQS1x3fikGyh1W_",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        -80
      ],
      "id": "b8677244-e518-4297-90d9-dbeb15af67e5",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pn7NJsvvFf6ICSAR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        464,
        96
      ],
      "id": "362bd9de-c0e1-40b2-89d0-7b915ecfa8c4",
      "name": "Humanize",
      "credentials": {
        "groqApi": {
          "id": "VjnUR5eUBxPCf2ri",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        176,
        256
      ],
      "id": "395c9e4f-34c1-46a9-8c90-d3117db19329",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -288,
        112
      ],
      "id": "e90c5c5b-9965-42e8-90ee-ae36fcf14697",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -304,
        352
      ],
      "id": "f5525d3f-2cef-4c71-959d-9d460d9e59a4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -512,
        112
      ],
      "id": "a9614fef-77bf-4957-9ef3-459759f76ee7",
      "name": "Upload your file here",
      "webhookId": "82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        352
      ],
      "id": "8435911f-706a-49d1-8cad-05996d95f51f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HTIgVbjEzy5iFQjD",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Assignment upload",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Assignment ",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -512,
        -80
      ],
      "id": "08ce616f-c360-4fe1-ae12-5a6921cff8b9",
      "name": "Assignment Upload",
      "webhookId": "145c18c0-200f-4a9c-97bc-5472d26d8900"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Humanize": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        []
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Assignment Upload": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08811585-22fa-48d3-bce9-59cef7569eac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cab92e406fc008a29f6f1190c66f057090f852dac3a09743481e81c94c197684"
  },
  "id": "Je7UrAu4sXmdqssZ",
  "tags": []
}